name: Build RCSL SQL Client EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller Pillow

    - name: Build EXE
      run: |
        pyinstaller --noconfirm --onefile --windowed --name "RCSL-SQL-Client" --add-data "templates;templates" --add-data "static;static" --icon "static/favicon.png" app.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: RCSL-SQL-Client-EXE
        path: dist/RCSL-SQL-Client.exe
